.content{
    width: 100px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    margin: 20px 0;
    margin-right: 20px;
    text-align: center;
}
.content a img{
    border-radius: 20px;
    width: 90px;
    height: 90px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.content span{
    font-size: 0.8em;
    /* font-family: sans; */
}

.content button{
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.1em;
    top: -5px;
    right: -5px;
    border: none;
}